<h1>Sign in to your Partner Account</h1>
<p>Find me in app/views/session/partner.html.erb</p>

<%= form_for :data, url: sessions_url do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.hidden_field :type, value: 'partner'  %>
  <%= f.submit "Login" %>
<% end %>
